
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  {% load crispy_forms_tags %}
</head>
<body>
    <h1 class="display-4">Index</h1>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <li  {% if message.tags %} class="alert alert-primary" role="alert"" {% endif %}> {{ message }} </li>
        {% endfor %}
    </div>
    {% endif %}
  <div class="container">
      <a class = "btn btn-primary" href = "{% url 'create' %}">Add</a>
    <table class="table">
        <tr>
          <th scope="col">id</th>
          <th scope="col">name</th>
          <th scope="col">address</th>
          <th scope="col">email</th>
          <th scope="col">file</th>
          <th scope="col">action</th>
        </tr>
        {% for qs in queryset %}
        <tr>
          <td>{{ qs.id }}</td>
          <td>{{ qs.company_name }}</td>
          <td>{{ qs.company_address }}</td>
          <td>{{ qs.company_email }}</td>
          <td><a href = "{{ qs.company_registered_document }}">Click Here</a></td>
          <td><a href = "{% url 'edit' qs.id %}">Edit</a> <a href = "{% url 'delete' qs.id %}">Delete</a></td>
        </tr>
        {% endfor %}
      </table> 
  </div>
</body>
</html>
